__pycache__
.*
*.pyc
*.zip
!.dockerignore
!.env.example
!.gitea
!.github
!.gitignore
!.pre-commit-config.yaml
!.woodpecker.yml
!.yamlfmt
/bin
/dist
docker-compose.*.yml
/lib
/pyvenv.cfg
/share

build/

# Editors / IDEs
.idea/
.vscode/
.fleet/
.zed/
.vs/
.history/
.project
.classpath
.settings/
.sublime-project
*.iml
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*.swo
*~
\#*\#
.\#*

# OS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.directory
.fuse_hidden*
.nfs*
