{% extends "base.html" %}
{% block title %}🪄 URL-Fairy{% endblock %}
{% block meta %}
    <meta property="og:type" content="video.other">
    <meta property="og:title" content="🪄 URL Fairy">
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:video" content="{{ media_url }}">
    <meta property="og:video:secure_url" content="{{ media_url }}">
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:image" content="{{ image_url }}">
    <meta name="twitter:card" content="player">
    <meta name="twitter:player:stream" content="{{ media_url }}">
{% endblock %}
{% block content %}
    <h1>Hi, this is ✨URL Fairy✨:</h1>
    <p><video controls preload="metadata" src="{{ media_url }}"></video></p>
    <p>⬇️ <a href="{{ media_url }}">Download the file</a></p>
{% endblock %}
